# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
react/node_modules

# Build output
react/dist
react/dist-ssr
*.local

# Build tool artifacts
build-tools/go/dist
build-tools/MBAM.exe

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
